.footer {
    height: 380px;
    background-color: #20936D;
    display: flex;
    color: white;
    padding-top: 60px;
}

.footer_logo{
    margin-left: 50px;
    margin-top: 70px;
    padding-right: 330px;
}

.footer img{
    width: 145px;
    height: 25px;
    margin-top: 30px;
}

.footer p {
    width: 440px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    text-align: justify;
    font-size: 14px;
}

.footer_social a{
    margin-right: 10px;
    font-size: 20px;
}

.footer ul > p {
    margin-bottom: 80px;
}

.footer li {
    margin: 20px 0;
}

.footer_box_contact li {
    margin: 38px 0;
    font-family: 'Poppins';
}

.footer_box_contact{
    font-size: 14px;
}

.footer_box_home{
    padding-right: 40px;
    font-size: 14px;
}

.footer ul{
    list-style: none;
    margin-top: 25px;
}

.footer a{
    color: rgb(255, 255, 255);
    text-decoration: solid;
    font-family: 'Poppins';
}

.footer a:hover{
    text-decoration: underline;
    color: rgb(252, 252, 252);
}

.footer h3{
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-size: 14px;
}

/* MEDIA QUERIES */